.card-bg{
  width: 600rpx;
  height: 370rpx;
  margin: 0 auto;
  border-radius: 8rpx;
  background-image: linear-gradient(345deg, rgb(211, 89, 255), rgb(228, 99, 255), rgb(255, 123, 247), rgb(255, 154, 218), rgb(255, 185, 208), rgb(255, 209, 214), rgb(255, 219, 219));
}